/* Credit:<a href='https://www.freepik.es/fotos/amor'>Foto de Amor creado por efe_madrid - www.freepik.es</a> */
/*<a href="https://icons8.com/icon/81027/flecha-ampliar">Flecha ampliar icon by Icons8</a>*/
@import url("https://fonts.googleapis.com/css2?family=Neuton:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Neuton", serif;
}

.landingPage {
  width: 100vw;
  height: 100vh;
  background-color: #e0e0e0;
  z-index: 0;
}

.landingPage:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 150px rgba(6, 162, 214, 0.5);
  filter: blur(1px);
  z-index: 2;
}

.bubble1 {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 50;
  top: 0;
  width: 100vw;
  height: 20vh;
}

.svg1 {
  width: 400vw;
  height: 23vh;
  fill: #32e0c4;
  opacity: 80%;
  transform: rotateY(180deg);
  z-index: 20;
}

.logocontainer {
  position: absolute;
  display: flex;
  margin-left: 3vw;
  opacity: 90%;
}
.logo {
  width: 20vw;
}

.logoText {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  box-shadow: grey;
  border-radius: 15px;
  font-family: "Neuton", serif;
  font-size: 1.8em;
  font-weight: 900;
  background-color: #0d9598;
  color: #eeeeee;
  display: block;
  padding: 0 0.5em 0.4em 0.5em;
}

h1:nth-child(2) {
  position: absolute;
  background-color: #eeeeee;
  color: #0d9598;
  clip-path: inset(-1% -1% 50% -1%);
}

.about {
  margin: 1em 2em 0 2em;
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 1.8em;
}
.backGroundImg {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 25vh;
  max-width: 100%;
  z-index: 0;
}
.bubble2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100vw;
  height: 20vh;
  z-index: 50;
}

.svg2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 400vw;
  height: 23vh;
  fill: #32e0c4;
  opacity: 80%;
  transform: rotateX(180deg);
  z-index: 2;
}

.arrow {
  height: 8vh;
  width: auto;
  transform: rotate(-90deg);
  opacity: 90%;
}

.arrow:hover {
  opacity: 60%;
  height: 9vh;
}

@media only screen and (min-width: 640px) {
  .svg1 {
    height: 20vh;
    width: 220vw;
  }

  .backGroundImg {
    bottom: 22vh;
    max-width: 80%;
  }
  .logocontainer {
    top: 2vh;
  }
  .logo {
    top: 0;
    width: 7em;
  }

  .svg2 {
    height: 20vh;
    width: 220vw;
  }

  .about {
    position: absolute;
    z-index: 30;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-bottom: auto;
  }

  .arrow {
    position: absolute;
    right: 15vw;
    bottom: 4vh;
  }
}

@media only screen and (min-width: 1008px) {
 
    .svg1 {
        position: absolute;
        z-index: 2;
        left: 0;
        height: 20vh;
        width: 220vw;
      }

      .about {
        top: 10vh;
        left: 55vw;
    }
}
