*{
    margin: 0; 
    padding: 0;
}
.landingPage {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.box{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display:inline-block;
    position:relative;
}
.box img{
    width: auto;
    height: 100%;
  }
@supports(object-fit: cover){
    .box img{
    object-fit: cover;
    object-position: center center;
    }
}
.enterButton {
    position: absolute;
    margin-top: auto;
    margin-left: auto;
    background-color:#0dc4e4;
    border-radius:50%;
    color:rgb(0, 0, 0);
    text-transform:uppercase;
    padding:2em 2em;
}  