.addingBreed {
    position:absolute;
    width: 100vw;
    height: 100vh;
    display: block;
    text-align: center;
    background-color: #eeeeee;
    z-index: 0;
    color: #212121;
    font-family: "Roboto", sans-serif;
}