
.pagination{  
    display: inline;  
    overflow: hidden;
    font-family: "Roboto", sans-serif; 
    background-color: inherit;
    text-align: center;
    background-color: #EEEEEE;
    width: 100vw;
}

.pageNumbers {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

button {
    border: none;    
    margin: 0 5px 0 5px
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 640px) {
.pagination {
    right: 0;
    max-width: 70vw;        
    margin-left: auto;
    margin-right: auto;
}
}